.containers {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .userlist {
        width: 150px;
        text-align: center;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        background-color: azure;
        box-shadow: 1px 1px 5px #000000;
    }
    .addUser {
        width: 155px;
        text-align: center;
        color: black;
        margin-left: 10px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: azure;
        box-shadow: 1px 1px 5px #000000;
    }
}